frontend kubernetes-frontend
  bind *:6443
  mode tcp
  option tcplog
  default_backend kubernetes-backend

backend kubernetes-backend
  option httpchk GET /healthz
  http-check expect status 200
  mode tcp
  option ssl-hello-chk
  balance roundrobin
{% for host in groups['k8s_masters'] %}
    server {{ host }} {{ hostvars[host]['private_ip'] }}:6443 check fall 3 rise 2
{% endfor %}